<div class="row">
 <div class="col s12 m4 offset-m4">
   <div class="card">
     <div class="card-image center-align">
       <img src="assets/hotlibrary-login-logo.png">
     </div>
     <div class="card-content">
       <mz-tab [fixedTabWidth]="'true'">
         <mz-tab-item [label]="'Acessar Conta'">
           <form name="formLogin">
             <div class="row">
               <div class="col s12">
                 <mz-input-container>
                   <input mz-input
                     [label]="'Email'"
                     [validate]="true"
                     type="email">
                 </mz-input-container>
               </div>
             </div>

             <div class="row">
               <div class="col s12">
                 <mz-input-container>
                   <input mz-input
                     [label]="'Senha'"
                     [validate]="true"
                     type="password">
                 </mz-input-container>
               </div>
             </div>

             <div class="row">
               <div class="col s12">
                 <button mz-button
                   type="submit"
                   name="btnLogin"
                   class="right red darken-2">
                     Entrar
                 </button>
               </div>
             </div>
           </form>
         </mz-tab-item>
         <mz-tab-item [label]="'Criar Conta'">
           <app-user-form></app-user-form>
         </mz-tab-item>
       </mz-tab>
     </div>
    <div class="card-action">

    </div>
   </div>
 </div>
</div>
