<form name="formSignup">
  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Nome'"
          [validate]="true"
          [length]="150"
          maxlength="150"
          name="user-name"
          [(ngModel)]="user.name"
          type="text">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Email'"
          [validate]="true"
          [(ngModel)]="user.email"
          name="user-email"
          type="email">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          #zipcodeInput
          [label]="'CEP'"
          [validate]="true"
          (blur)="searchAddress(zipcodeInput.value)"
          maxlength="8"
          name="user-address-zipcode"
          [(ngModel)]="user.address.zipcode"
          type="text">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Endereço'"
          [validate]="true"
          [(ngModel)]="user.address.publicplace"
          name="user-address-publicplace"
          type="text">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Bairro'"
          [validate]="true"
          [(ngModel)]="user.address.neighborhood"
          name="user-address-neighborhood"
          type="text">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Cidade'"
          [validate]="true"
          [(ngModel)]="user.address.city"
          name="user-address-city"
          type="text">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-select-container>
        <select mz-select
          id="signupStateName"
          name="user-address-state"
          [(ngModel)]="user.address.state.id"
          [placeholder]="'Selecione um estado...'">
          <option async *ngFor="let state of states" value="{{ state.id }}">{{ state.name }}</option>
        </select>
      </mz-select-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <mz-input-container>
        <input mz-input
          [label]="'Número'"
          [validate]="true"
          [(ngModel)]="user.address.number"
          name="user-address-number"
          type="number">
      </mz-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <button mz-button
        name="btn-registration"
        class="right red darken-2"
        type="submit">
          Cadastrar
      </button>
    </div>
  </div>
</form>
